In [8]:
import requests
url = 'https://www.skysports.com/premier-league-table/2011'

In [9]:
page = requests.get(url)

In [10]:
print(page.status_code)

200

In [11]:
print(page)

<Response [200]>

In [12]:
#print(page.text)

In [13]:
from bs4 import BeautifulSoup

In [14]:
soup = BeautifulSoup(page.text,'html.parser')

In [15]:
#print(soup.prettify)

In [16]:
print(soup.find('a'))

<a class="svg-logo site-header__logo" href="https://www.skysports.com">
<img class="svg-logo__image" onerror="this.onerror=null;this.src='/core/img/channels/Sky-Sports-Logo.png'" src="/core/img/channels/Sky-Sports-Logo-transparent.svg"/>
</a>

In [17]:
#print(soup.find_all('a'))

In [18]:
soup.find_all('a')[1]

<a class="site-header__col site-header__col4 site-header__nav-button-hit-area" data-role="open-left-hand-nav" href="#no-js-nav" tabindex="1">
<svg class="site-header__nav-button" version="1.1" viewbox="0 0 2048 2048" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect height="256" width="2048" y="384"></rect>
<rect height="256" width="2048" y="896"></rect>
<rect height="256" width="2048" y="1408"></rect>
</svg>
</a>

In [19]:
league = soup.find('table',class_='standing-table__table')

In [20]:
league_table = league.find_all('tbody')

In [39]:
for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td',class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        team_points = row.find_all('td',class_ = 'standing-table__cell')[9].text.strip()
        team_gd = row.find_all('td',class_ = 'standing-table__cell')[8].text.strip()
        team_played = row.find_all('td',class_ = 'standing-table__cell')[2].text.strip()
        won = row.find_all('td',class_ = 'standing-table__cell')[3].text.strip()
        d = row.find_all('td',class_ = 'standing-table__cell')[4].text.strip()
        l = row.find_all('td',class_ = 'standing-table__cell')[5].text.strip()
        f = row.find_all('td',class_ = 'standing-table__cell')[6].text.strip()
        a = row.find_all('td',class_ = 'standing-table__cell')[7].text.strip()
        print(team_names, team_points,team_gd,team_played,won,d,l,f,a)

Manchester City 89 64 38 28 5 5 93 29
Manchester United 89 56 38 28 5 5 89 33
Arsenal 70 25 38 21 7 10 74 49
Tottenham Hotspur 69 25 38 20 9 9 66 41
Newcastle United 65 5 38 19 8 11 56 51
Chelsea 64 19 38 18 10 10 65 46
Everton 56 10 38 15 11 12 50 40
Liverpool 52 7 38 14 10 14 47 40
Fulham 52 -3 38 14 10 14 48 51
West Bromwich Albion 47 -7 38 13 8 17 45 52
Swansea City 47 -7 38 12 11 15 44 51
Norwich City 47 -14 38 12 11 15 52 66
Sunderland 45 -1 38 11 12 15 45 46
Stoke City 45 -17 38 11 12 15 36 53
Wigan Athletic 43 -20 38 11 10 17 42 62
Aston Villa 38 -16 38 7 17 14 37 53
Queens Park Rangers 37 -23 38 10 7 21 43 66
Bolton Wanderers 36 -31 38 10 6 22 46 77
Blackburn Rovers 31 -30 38 8 7 23 48 78
Wolverhampton Wanderers 25 -42 38 5 10 23 40 82

In [41]:
league_2011 = []

for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td',class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        team_points = row.find_all('td',class_ = 'standing-table__cell')[9].text.strip()
        team_gd = row.find_all('td',class_ = 'standing-table__cell')[8].text.strip()
        league_dict = {'name':team_names,'W':won,'D':d,'L':l,'F':f,'gd':team_gd,
                      'pts':team_points}
        league_2011.append(league_dict)

In [42]:
import pandas as pd
df = pd.DataFrame(league_2011)

In [43]:
df.head()

                name  W   D   L   F  gd pts
0    Manchester City  5  10  23  40  64  89
1  Manchester United  5  10  23  40  56  89
2            Arsenal  5  10  23  40  25  70
3  Tottenham Hotspur  5  10  23  40  25  69
4   Newcastle United  5  10  23  40   5  65

In [44]:
df

                       name  W   D   L   F   gd pts
0           Manchester City  5  10  23  40   64  89
1         Manchester United  5  10  23  40   56  89
2                   Arsenal  5  10  23  40   25  70
3         Tottenham Hotspur  5  10  23  40   25  69
4          Newcastle United  5  10  23  40    5  65
5                   Chelsea  5  10  23  40   19  64
6                   Everton  5  10  23  40   10  56
7                 Liverpool  5  10  23  40    7  52
8                    Fulham  5  10  23  40   -3  52
9      West Bromwich Albion  5  10  23  40   -7  47
10             Swansea City  5  10  23  40   -7  47
11             Norwich City  5  10  23  40  -14  47
12               Sunderland  5  10  23  40   -1  45
13               Stoke City  5  10  23  40  -17  45
14           Wigan Athletic  5  10  23  40  -20  43
15              Aston Villa  5  10  23  40  -16  38
16      Queens Park Rangers  5  10  23  40  -23  37
17         Bolton Wanderers  5  10  23  40  -31  36
18         Blackburn Rovers  5  10  23  40  -30  31
19  Wolverhampton Wanderers  5  10  23  40  -42  25