In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

/usr/lib/python3/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.10) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes'

In [3]:
page= requests.get(url)
page.status_code

200

In [4]:
soup = BeautifulSoup(page.text ,'html.parser')

In [5]:
episodes_table = soup.find_all('table',class_='wikitable plainrowheaders wikiepisodetable')

In [7]:
for table in episodes_table:
    rows=table.find_all('tr')[1:]
    for items in rows:
        season_number=items.find_all('td')[0].get_text()
        director = items.find_all('td')[2].get_text()
        print(season_number,director)

1 Tim Van Patten
2 Tim Van Patten
3 Brian Kirk
4 Brian Kirk
5 Brian Kirk
6 Daniel Minahan
7 Daniel Minahan
8 Daniel Minahan
9 Alan Taylor
10 Alan Taylor
1 Alan Taylor
2 Alan Taylor
3 Alik Sakharov
4 David Petrarca
5 David Petrarca
6 David Nutter
7 David Nutter
8 Alan Taylor
9 Neil Marshall
10 Alan Taylor
1 Daniel Minahan
2 Daniel Minahan
3 David Benioff
4 Alex Graves
5 Alex Graves
6 Alik Sakharov
7 Michelle MacLaren
8 Michelle MacLaren
9 David Nutter
10 David Nutter
1 D. B. Weiss
2 Alex Graves
3 Alex Graves
4 Michelle MacLaren
5 Michelle MacLaren
6 Alik Sakharov
7 Alik Sakharov
8 Alex Graves
9 Neil Marshall
10 Alex Graves
1 Michael Slovis
2 Michael Slovis
3 Mark Mylod
4 Mark Mylod
5 Jeremy Podeswa
6 Jeremy Podeswa
7 Miguel Sapochnik
8 Miguel Sapochnik
9 David Nutter
10 David Nutter
1 Jeremy Podeswa
2 Jeremy Podeswa
3 Daniel Sackheim
4 Daniel Sackheim
5 Jack Bender
6 Jack Bender
7 Mark Mylod
8 Mark Mylod
9 Miguel Sapochnik
10 Miguel Sapochnik
1 Jeremy Podeswa
2 Mark Mylod
3 Mark Mylod
4 Matt Shakman
5 Matt Shakman
6 Alan Taylor
7 Jeremy Podeswa
1 David Nutter
2 David Nutter
3 Miguel Sapochnik
4 David Nutter
5 Miguel Sapochnik
6 David Benioff & D. B. Weiss
Game of Thrones: A Day in the Life N/A

IndexError: list index out of range

In [9]:
episodes = []

for table in episodes_table:
    headers = []
    for header in table.find('tr').find_all('th'):
        headers.append(header.text)
    for row in table.find_all('tr')[1:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        episode_dict = {headers[i] : values[i] for i in range(len(values))}
        episodes.append(episode_dict)

In [11]:
df=pd.DataFrame(episodes)

In [12]:
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date [20],U.S. viewers(millions),No.,Original air date
0,1,1,"""Winter Is Coming""",Tim Van Patten,David Benioff & D. B. Weiss,"April 17, 2011 (2011-04-17)",2.22[21],NaN,NaN
1,2,2,"""The Kingsroad""",Tim Van Patten,David Benioff & D. B. Weiss,"April 24, 2011 (2011-04-24)",2.20[22],NaN,NaN
2,3,3,"""Lord Snow""",Brian Kirk,David Benioff & D. B. Weiss,"May 1, 2011 (2011-05-01)",2.44[23],NaN,NaN
3,4,4,"""Cripples, Bastards, and Broken Things""",Brian Kirk,Bryan Cogman,"May 8, 2011 (2011-05-08)",2.45[24],NaN,NaN
4,5,5,"""The Wolf and the Lion""",Brian Kirk,David Benioff & D. B. Weiss,"May 15, 2011 (2011-05-15)",2.58[25],NaN,NaN

In [13]:
df.tail()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date [20],U.S. viewers(millions),No.,Original air date
72,73,6,"""The Iron Throne""",David Benioff & D. B. Weiss,David Benioff & D. B. Weiss,"May 19, 2019 (2019-05-19)",13.61[93],NaN,NaN
73,NaN,NaN,Game of Thrones: A Day in the Life,NaN,NaN,NaN,N/A,1,"February 8, 2015 (2015-02-08)"
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\nA half-hour documentary that covered one day...,NaN
75,NaN,NaN,Game of Thrones: The Last Watch,NaN,NaN,NaN,1.63[96],2,"May 26, 2019 (2019-05-26)"
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\nA two-hour documentary which documents the m...,NaN